.highlight {
  border       : 1px solid rgba(0,0,0,.2);
  position     : relative;
  font-family  : 'Source Code Pro';
  font-weight  : 300;
  font-size    : 1.2rem;
  border-radius: .2em;
  overflow: hidden;
margin: 1em;

  td.gutter {
    background: #f0f0f0;
    padding :0 0.5em;
    pre {
      margin: 0;
    }
  }

  td.code {
    pre {
      margin  : 0;
      padding : 0.5em 1em .5em 0;
      overflow: scroll;
    }
  }

  > pre {
    margin: 0;

    > code {
      &:after {
        font-size : 0.7rem;
        position  : absolute;
        top       : 0;
        right     : 0;
        padding   : 0.2em 0.7em;
        color     : #f0f0f0;
        background: #6a6a6a;
      }

      &.language-html:after {
        content   : 'HTML';
        background: #01786f;
      }

      &.language-javascript:after,
      &.language-js:after {
        content   : 'JavaScript';
        background: #e6735c;
      }

      &.language-ts:after,
      &.language-typescript:after {
        content   : 'TypeScript';
        background: #1971A3;
      }

      &.language-scss:after {
        content   : 'SCSS';
        background: #CD669A;
      }

      &.language-json:after {
        content   : 'JSON';
        background: #9F81B9;
      }

      &.language-shell:after {
        content   : 'Shell';
        background: #545454;
      }
    }
  }
}

div.highlighter-rouge {
  border       : 1px solid rgba(0,0,0,.2);
  position     : relative;
  font-family  : 'Source Code Pro';
  font-weight  : 300;
  font-size    : 1.2rem;
  border-radius: 8px;

  > pre {
    margin  : 0;
    padding : 0.5em 1em;
    overflow: scroll;
  }

  &:after {
    font-size : 0.7rem;
    position  : absolute;
    top       : 0;
    right     : 0;
    padding   : 0.2em 0.7em;
    color     : #f0f0f0;
    background: #6a6a6a;
  }

  &.language-html:after {
    content   : 'HTML';
    background: #01786f;
  }

  &.language-javascript:after,
  &.language-js:after {
    content   : 'JavaScript';
    background: #e6735c;
  }

  &.language-ts:after,
  &.language-typescript:after {
    content   : 'TypeScript';
    background: #1971A3;
  }

  &.language-scss:after {
    content   : 'SCSS';
    background: #CD669A;
  }

  &.language-json:after {
    content   : 'JSON';
    background: #9F81B9;
  }

  &.language-shell:after {
    content   : 'Shell';
    background: #545454;
  }
}

.highlight .hll {
  background-color: #ffffcc;
}

.highlight .c {
  color     : #999;
  font-style: italic;
}
/* Comment */
// .highlight .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.highlight .k {
  color: #006699;
}
/* Keyword */
.highlight .o {
  color: #555555;
}
/* Operator */
.highlight .cm {
  color     : #999;
  font-style: italic;
}
/* Comment.Multiline */
.highlight .cp {
  color: #009999;
}
/* Comment.Preproc */
.highlight .c1 {
  color     : #999;
  font-style: italic;
}
/* Comment.Single */
.highlight .cs {
  color     : #999;
  font-style: italic;
}
/* Comment.Special */
.highlight .gd {
  background-color: #FFCCCC;
  border          : 1px solid #CC0000;
}
/* Generic.Deleted */
.highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.highlight .gr {
  color: #FF0000;
}
/* Generic.Error */
.highlight .gh {
  color: #003300;
}
/* Generic.Heading */
.highlight .gi {
  background-color: #CCFFCC;
  border          : 1px solid #00CC00;
}
/* Generic.Inserted */
.highlight .go {
  color: #AAAAAA;
}
/* Generic.Output */
.highlight .gp {
  color: #000099;
}
/* Generic.Prompt */
.highlight .gs {}
/* Generic.Strong */
.highlight .gu {
  color: #003300;
}
/* Generic.Subheading */
.highlight .gt {
  color: #99CC66;
}
/* Generic.Traceback */
.highlight .kc {
  color: #006699;
}
/* Keyword.Constant */
.highlight .kd {
  color: #006699;
}
/* Keyword.Declaration */
.highlight .kn {
  color: #006699;
}
/* Keyword.Namespace */
.highlight .kp {
  color: #006699;
}
/* Keyword.Pseudo */
.highlight .kr {
  color: #006699;
}
/* Keyword.Reserved */
.highlight .kt {
  color: #007788;
}
/* Keyword.Type */
.highlight .m {
  color: #FF6600;
}
/* Literal.Number */
.highlight .s {
  color: #CC3300;
}
/* Literal.String */
// .highlight .na { color: #8866CC } /* Name.Attribute */
.highlight .nb {
  color: #336666;
}
/* Name.Builtin */
.highlight .nc {
  color: #00AA88;
}
/* Name.Class */
.highlight .no {
  color: #336600;
}
/* Name.Constant */
.highlight .nd {
  color: #9999FF;
}
/* Name.Decorator */
.highlight .ni {
  color: #999999;
}
/* Name.Entity */
.highlight .ne {
  color: #CC0000;
}
/* Name.Exception */
.highlight .nf {
  color: #CC00FF;
}
/* Name.Function */
.highlight .nl {
  color: #9999FF;
}
/* Name.Label */
.highlight .nn {
  color: #00CCFF;
}
/* Name.Namespace */
.highlight .nt {
  color: #8866CC;
}
/* Name.Tag */
.highlight .nv {
  color: #003333;
}
/* Name.Variable */
.highlight .ow {
  color: #000000;
}
/* Operator.Word */
.highlight .w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.highlight .mf {
  color: #FF6600;
}
/* Literal.Number.Float */
.highlight .mh {
  color: #FF6600;
}
/* Literal.Number.Hex */
.highlight .mi {
  color: #FF6600;
}
/* Literal.Number.Integer */
.highlight .mo {
  color: #FF6600;
}
/* Literal.Number.Oct */
.highlight .sb {
  color: #CC3300;
}
/* Literal.String.Backtick */
.highlight .sc {
  color: #CC3300;
}
/* Literal.String.Char */
.highlight .sd {
  color     : #CC3300;
  font-style: italic;
}
/* Literal.String.Doc */
.highlight .s2 {
  color: #CC3300;
}
/* Literal.String.Double */
.highlight .se {
  color: #CC3300;
}
/* Literal.String.Escape */
.highlight .sh {
  color: #CC3300;
}
/* Literal.String.Heredoc */
.highlight .si {
  color: #AA0000;
}
/* Literal.String.Interpol */
.highlight .sx {
  color: #CC3300;
}
/* Literal.String.Other */
.highlight .sr {
  color: #33AAAA;
}
/* Literal.String.Regex */
.highlight .s1 {
  color: #CC3300;
}
/* Literal.String.Single */
.highlight .ss {
  color: #FFCC33;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #336666;
}
/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #003333;
}
/* Name.Variable.Class */
.highlight .vg {
  color: #003333;
}
/* Name.Variable.Global */
.highlight .vi {
  color: #003333;
}
/* Name.Variable.Instance */
.highlight .il {
  color: #FF6600;
}
/* Literal.Number.Integer.Long */
