---
layout: default
---

{% assign tag = site.data.tags[page.tag] %}


<aside>
  {% for sitetag in site.data.tags %}
  <a class="tag-link" href="{{ site.baseurl }}/tag/{{ sitetag[0] }}/">
    <img src="https://img.shields.io/badge/{{ sitetag[1].category }}-{{ sitetag[1].name }}-{{ sitetag[1].color }}.svg?style=flat-square"/></a>
  {% endfor %}
</aside>

<content class="with-aside">
<h2><a href="{{ tag.home }}" target="_blank">{{ tag.name }}</a></h2>
<p>{{ tag.description }}</p>
<hr/>

{% if site.tags[page.tag] %}
  {% for post in site.tags[page.tag] %}
  {% if post.publish %}
    <div class="post-item listing">
      <h1 class="post-title">
        <a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a>
      </h1>
      <div class="post-meta">
        <div class="post-time">
          Posted on <small>&#x1F558;</small>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </div>
      </div>
      <div class="post-excerpt">
        <p>{{ post.excerpt }}</p>
      </div>
      <a href="{{ site.prefix }}{{ post.url }}"><small>Read More...</small></a>
    </div>
    <hr/>
    {% endif %}
  {% endfor %}
{% else %}
  <p class="no-posts">There are no posts for this tag.</p>
{% endif %}
</content>
