---
layout: default
---
{% assign post = page %}
<div class="post-item">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-time">
    Posted on <small>&#x1F558;</small>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
  </div>
  <div class="post-tags">
    {% if post.tags.size > 0 %}
      {% for post_tag in post.tags %}
        {% assign tag = site.data.tags[post_tag] %}
        {% if tag %}
        <a class="tag-link" href="{{ site.baseurl }}/tag/{{ post_tag }}/">
          <img src="https://img.shields.io/badge/{{ tag.category }}-{{ tag.name }}-{{ tag.color }}.svg?style=flat-square"/></a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="post-excerpt">
    <p>{{ post.excerpt }}</p>
  </div>
  <hr/>
  <article>{{ content }}</article>
</div>
